[Unit]
Description=Web interface to Rockhopper (which provides interface to linuxcnc) via web sockets
After=Rockhopper.service

[Service] 
ExecStart=/opt/penta-ui-builds/startpenta-ui.sh

[Install]
WantedBy=multi-user.target
